.card-qv {
  background: var(--cor-card);
  width: 100%;
  max-width: 700px;
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--sombra-card);
  transition: transform 0.3s ease;
  animation: aparecer 2s ease;
  margin: auto;
}

.img-logo {
  width: 130px;
}

.titulo-1 {
  margin-bottom: 12px;
}

.proximos-passos {
  margin-top: 30px;
  text-align: left;
  background: var(--cor-fundo);
  padding: 15px;
  border-radius: var(--border-radius);
}

.proximos-passos h4 {
  margin-bottom: 15px;
}

.proximos-passos ul {
  margin: 0;
  padding-left: 20px;
}

.proximos-passos li {
  margin-bottom: 10px;
}
